services:
  postgres:
    restart: always
    image: postgres:17-alpine
    container_name: postgres
    environment:
      - POSTGRES_USER=semantic_search_user
      - POSTGRES_PASSWORD=semantic_search_password
      - POSTGRES_DB=semantic_search_db
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5435:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U semantic_search_user -d semantic_search_db"]
      interval: 5s
      timeout: 3s
      retries: 5

  ollama:
    image: ollama/ollama:latest
    restart: always
    ports:
      - "11434:11434"
    volumes:
      - ollama-data:/root/.ollama

  milvus:
    image: milvusdb/milvus:v2.3.3
    container_name: milvus-lite
    restart: always
    environment:
      - ETCD_USE_EMBED=true
      - ETCD_DATA_DIR=/var/lib/milvus/etcd
      - COMMON_STORAGETYPE=local
    volumes:
      - milvus-data:/var/lib/milvus
    ports:
      - "19530:19530"
      - "9091:9091"
    command: ["milvus", "run", "standalone"]

  backend:
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - DB__HOST=postgres
      - DB__PORT=5432
      - DB__NAME=semantic_search_db
      - DB__USER=semantic_search_user
      - DB__PASSWORD=semantic_search_password
      - SECURITY__JWT_SECRET_KEY=icj2ouyvcOkIOG0a6-KM0KXfp3ICHmS5Iexo6knQamU
      - OLLAMA__HOST=http://ollama:11434
      - OLLAMA__MODEL=nomic-embed-text
      - MILVUS__HOST=milvus
      - MILVUS__PORT=19530
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8888:8888"
    volumes:
      - ./:/app

volumes:
  postgres-data:
  ollama-data:
  milvus-data:
  
